.footer {
  background-color: #f0f0f0;
  text-align: center;
}

.footer h5 {
  font-size: 14px;
  margin-bottom: 5px;
}

.footer p {
  font-size: 12px;
  margin-bottom: 3px;
}

.footer a {
  font-size: 12px;
  padding: 1%;
  text-decoration: none;
  color: black;
}

.footer a:hover {
  color: black;
  text-decoration: underline;
}

.footer a:visited {
  color: black;
}

.footer .container .row {
  margin-top: 1%;
}
